{% extends "postgradoApp/base.html" %}
{% load static %}
{% block content %}
<div class="card border-light mb-3" style="max-width: 100%;">
  <div class="card-body">
    <h5><i class="far fa-id-card"></i> FORMULARIO DE REGISTRO DE MAESTRANTE</h5>
    <hr />
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <form id="informe" method="POST">
          {% if messages %}
          <div class="alert alert-danger">
            <ul class="errorlist">
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
          <div class="card colores-formulario">
            {% csrf_token %}

            {% if form.errors %}
            {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
              {{field.errors}}
              <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endfor %}
            {% endif %}

            {{ form.tipo_usuario }} <br>
            {{ form.nombre_usuario.label }}
            {{ form.nombre_usuario }} <br>

            {{ form.paterno.label }}
            {{ form.paterno }}<br>

            {{ form.materno.label }}
            {{ form.materno }}<br>

            {{ form.ru.label }}
            {{ form.ru }}<br>

            {{ form.ci_usuario.label }}
            {{ form.ci_usuario }}<br>

            {{ form.departamento.label }}
            {{ form.departamento }} <br>

            {{ form.sede.label }}
            {{ form.sede }} <br>


            {{ form.cel_usuario.label }}
            {{ form.cel_usuario }}<br>

            {{ form.cel_usuario2.label }}
            {{ form.cel_usuario2 }}<br>

            {{ form.correo.label }}
            {{ form.correo }}<br>

            {{ form.correo_inst.label }}
            {{ form.correo_inst }}<br>


            {{ form.gestion.label }}
            {{ form.gestion }}<br>

            {{ form.programa.label }}
            {{ form.programa }}<br>
    
            <input type="radio" name="gender" id="tipo-1" required> PROGRAMA REGULAR EN CURSO <br>
            <div class="col-8">{{ form.programa_regular }}  {{ form.version }} <br> </div>

            <input type="radio" name="gender" id="tipo-2"> REINCORPORACIÓN A NUEVA VERSIÓN DE PROGRAMA <br>
            <div class="col-8">{{ form.reincorporacion }} {{ form.nueva_version }} </div><br>

            <input type="radio" name="gender" id="tipo-3"> REINCORPORACIÓN CON VIGENCIA DE MATRICULA <br>
            <div class="col-8"> {{ form.vigencia_matricula }} {{ form.version_cursada }} </div><br>
            <div class="col-8"> {{ form.vigencia_inicio }} </div><br>
            <div class="col-8"> {{ form.vigencia_final }} </div><br>

            {{ form.username.label }}
            {{ form.username }}<br>

            {{ form.password1.label }}
            {{ form.password1 }}<br>

            {{ form.password2.label }}
            {{ form.password2 }} <br>
            <div class="modal-footer">
              <button type="submit" class="colores-botoncerrar">Registrar</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
<form>



</form>
{% block extrajs %}
<script src="{% static 'lib/js/formulario.js' %}"></script>

{% endblock extrajs %}

{% endblock %}