{% extends "postgradoApp/base.html" %}
{% load static %}
{% block content %}
{% if user.tipo_usuario == 3 or user.tipo_usuario == 4 or user.is_superuser %}
  
<div class="card border-light mb-3" style="max-width: 100%;">
  <div class="card-body">

    <div class="row">
            <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <form id="informe" method="POST">
            <h5> FORMULARIO DE REGISTRO DEL PLANTEL ADMINISTRATIVO</h5>
            {% if messages %}
            <div class="alert alert-danger">
              <ul class="errorlist">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
            <div class="card colores-formulario">
              {% csrf_token %}

              {% if form.errors %}
              {% for field in form %}
              {% for error in field.errors %}
              <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
              </div>
              {% endfor %}
              {% endfor %}
              {% endif %}

              {{ form.as_p }}
            </div>
            <div class="alert alert-primary" role="alert">
              Recuerde, el NOMBRE DE USUARIO y CONTRASEÑA se enviarán al correo institucional registrado en este formulario.
            </div>
            <div class="modal-footer">
              <button type="submit" class="colores-botoncerrar">Registrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% block extrajs %}
<script src="{% static 'lib/js/formulario.js' %}"></script>


{% endblock extrajs %}

{% endblock %}