{% extends "postgradoApp/base.html" %}
{% load static %}
{% block content %}
<div class="sb-nav-link-icon">
    <h5>CRONOGRAMA PARA EL DESARROLLO DEL TRABAJO DE TESIS R-0816 (HASTA PROCEDENCIA DE TEMA)</h5>
</div>
<hr />
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="table-responsive">
            <table name="f1" id="data" class="table table-striped table-responsive">

                <thead>
                    <tr>
                        <th class="header" scope="col">CI</th>
                        <th class="header" scope="col">R.U. </th>
                        <th class="header" scope="col">NOMBRE </th>
                        <th class="header" scope="col">PROGRAMA </th>
                        <th class="header" scope="col">VERSIÓN DEL PROGRAMA </th>
                        
                        <th class="header" scope="col">FECHA/HORA DE ASESORAMIENTO</th>
                        <th class="header" scope="col">PRESENTACIÓN DEL FORMULARIO DE HABILITACIÓN</th>
                        <th class="header" scope="col">PRESENTACIÓN DEL PERFIL DE TESIS</datagrid></th>
                        <th class="header" scope="col">FECHA/HORA DEL ACTO DE SUSTENTACIÓN</th>
                      
                        <th class="header" scope="col">PRESENTACIÓN DEL PERFIL DE TESIS MEJORADO</th>
                        <th class="header" scope="col"># </th>
                   
                    </tr>
                </thead>



                <tbody id="tableBody_users">
              
                    {% for usuario in actividades %}
                    <tr>
                        <td>                           
                   {% if usuario.user.usuario.ci_usuario %}
                            {{ usuario.user.usuario.ci_usuario}}
                            {% else %}
                            No asignado
                            {% endif %} 
                        </td>
                        <td>                            
           
                            {% if usuario.user.usuario.ru %}
                            {{ usuario.user.usuario.ru}}
                            {% else %}
                            No asignado
                            {% endif %}  
                        </td>
                        <td>{{ usuario.user }}</td>
                        <td>{{ usuario.user.programa }}</td>
                        <td>{{ usuario.user.version }}</td>
                        <td>
                            {% if usuario.fecha_induccion %}
                            {{ usuario.fecha_induccion}} - {{usuario.hora_induccion}} hrs
                            {% else %}
                            <div class="colores-primario-msg">
                                No asignado
                            </div>
                            {% endif %}
                        </td>
                        <td>
                            {% if usuario.fecha_1 and usuario.user.avance_tesis > 0 %}
                            {{ usuario.fecha_1}}
                            {% else %}
                            <div class="colores-primario-msg">
                                No asignado
                            </div>
                            {% endif %}
                        </td>

                        <td>
                            {% if usuario.fecha_2 %}
                            {{ usuario.fecha_2}}
                            {% else %}
                            <div class="colores-primario-msg">
                                No asignado
                            </div>
                            {% endif %}
                        </td>

                        <td>
                            {% if usuario.fecha_3 %}
                            {{ usuario.fecha_3}} - {{ usuario.hora_sustentacion}}
                            {% else %}
                            <div class="colores-primario-msg">
                                No asignado
                            </div>
                            {% endif %}
                        </td>
                       
                        <td>
                            {% if usuario.fecha_4 %}
                            {{ usuario.fecha_4 }}
                            {% else %}
                            <div class="colores-primario-msg">
                                No asignado
                            </div>
                            {% endif %}
                        </td>                   
                        <td>
                            
                            
                                
                            <button type="button"
                            onclick="abrir_modal_edicion('{% url 'usuario:editar_cronograma' usuario.id_cronograma %}')"
                            class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="Designar fechas "><i class="fa-solid fa-calendar-days"></i></button>
                            
                                

                           




                        </td>

                    </tr>
                    {% endfor %}
                
                </tbody>
            </table>
        </div>
    </div>
</div>


{% block extrajs %}

<script src="{% static 'lib/js/data.js' %}"></script>
<script src="{% static 'lib/js/main.js' %}"></script>



{% endblock extrajs %}

{% endblock %}