{% extends "postgradoApp/base.html" %}
{% load static %}
{% block content %}
<div class="sb-nav-link-icon">
    <h5>TRIBUNAL PARA DEFENSA DE TESIS</h5>
    <hr />
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="table-responsive">
            <table name="f1" id="data" class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th class="header" scope="col">CI</th>
                        <th class="header" scope="col">R.U.</th>
                        
                        <th class="header" scope="col">MAESTRANTE</th>
                        <th class="header" scope="col">PROGRAMA</th>
                        <th class="header" scope="col">VERSIÓN DEL PROGRAMA</th>
                        
                        <th class="header" scope="col">TRIBUNAL&nbsp;INTERNO&nbsp;1&nbsp;DESIGNADO (Presidente&nbsp;de&nbsp;tribunal)</th>
                        <th class="header" scope="col">TRIBUNAL&nbsp;INTERNO&nbsp;2&nbsp;DESIGNADO (Docente&nbsp;de&nbsp;area&nbsp;-&nbsp;Revisor)</th>
     
                        <th class="header" scope="col">#</th>
                    </tr>
                </thead>
                <tbody id="tableBody_users">
                    {% for usuario in actividades %}
                    <tr>
                        <td>
                            
                            {% if usuario.user.usuario.ci_usuario %}
                            {{ usuario.user.usuario.ci_usuario}}
                            {% else %}
                            No asignado
                            {% endif %}   
                        </td>
                        <td>                            
                            {% if usuario.user.usuario.ru %}
                            {{ usuario.user.usuario.ru}}
                            {% else %}
                            No asignado
                            {% endif %}
                        </td>

                        <td>{{ usuario.user}}</td>
                        <td>{{ usuario.user.programa}}</td>
                        <td>{{ usuario.user.version}}</td>
                        <td>
                            {% if usuario.tribunal_tesis_1 %}
                            {{ usuario.tribunal_tesis_1 }}
                            {% else %}
                            <div class="colores-primario-msg">
                                No asignado
                            </div>
                            {% endif %}
                        </td>
                        <td>
                            {% if usuario.tribunal_tesis_2 %}
                            {{ usuario.tribunal_tesis_2 }}
                            {% else %}
                            <div class="colores-primario-msg">
                                No asignado
                            </div>
                            {% endif %}
                        </td>
      
                        <td>
                            <button type="button"
                                onclick="abrir_modal_edicion('{% url 'usuario:editar_tribunal_tesis' usuario.id_tribunal %}')"
                                class="btn btn-primary"><i class="fas fa-users"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% block extrajs %}
<script src="{% static 'lib/js/data.js' %}"></script>

{% endblock extrajs %}


{% endblock %}