{% load static %}
<div class="modal-dialog modal-xl " role="document" id="pdfModal">
  <div class="modal-content">
    <div class="modal-header">
      <div class="card border-primary" style="width: 100%;">
        <div class="card-body ">
          <div class="container">
            <div class="row">
              <div class="col col-lg-3">
                <img src="{% static 'lib/img/logousb.png' %}" class="img-fluid" alt="Responsive image">
              </div>
              <div class="col">
                <h5 class="card-title text-center">
                  FORMULARIO DE INFORME DEL DOCENTE REVISOR DE TESIS DE MAESTRÍA <br> R-0996
                </h5>
              </div>
            </div>
          </div>
          <hr>
          <div class="row row-cols-1">
            {% for usuario in maestrantes|slice:":1" %}
            
            <div class="col">ELABORADO POR EL DOCENTE REVISOR: {{usuario.user.informe.docente}}</div>
            {% if usuario.user.revisor.user.docente.mostrar_numero %}
            <div class="col">Nº CELULAR DE DOCENTE REVISOR: {{usuario.user.revisor.user.cel_usuario}}</div>  
            
            {% endif %}   
            <div class="col">CORREO INSTITUCIONAL DEL DOCENTE REVISOR: {{usuario.user.revisor.user.correo_inst}}</div>
            
            <div class="col">TÍTULO DE LA TESIS: {{usuario.user.tema_borrador_tesis}}</div>
            <div class="col">MAESTRANTE: {{ usuario.user }}</div>
            <div class="col">PROGRAMA: {{ usuario.user.programa }}</div>
            <div class="col">VERSIÓN DEL PROGRAMA: {{ usuario.user.version }}</div>
            <div class="col">DOCENTE GUÍA: {{usuario.user.guia}}</div>

            <div class="col">FECHA DE REGISTRO DEL INFORME: {{ usuario.user.informe.fecha_registro }}</div>
          </div>
        </div>
        <hr>
        <div class="modal-body">
          <div class="table-responsive">
            <table class="table" id="tablaprueba">
              <thead>
                <tr>
                  <th scope="col">Nº</th>
                  <th scope="col">CAPÍTULO</th>
                  <th scope="col">DESCRIPCIÓN DE LA OBSERVACIÓN</th>
                  <th scope="col">SUGERENCIAS</th>
                </tr>
              </thead>
              <tbody>
                {% for usuario in maestrantes %}
                <tr> 
                  <td>{{ forloop.counter }}</td>
                  <td>{{ usuario.capitulo }}</td>
                  <td>{{ usuario.descripcion }}</td>
                  <td>{{ usuario.sugerencia }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="col">OTRAS OBSERVACIONES:
            {% if usuario.user.informe.otras_obs %}
            {{usuario.user.informe.otras_obs}}
            {% else %}
            Ninguna
            {% endif %}
          </div>
          
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="{% url 'usuario:detalle_informe_revisor_pdf' pk=usuario.user.id_maestrante %}" class="btn btn-primary" target="_blank">Generar PDF</a>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
        style="background-color: #1D2939;color:#eaf0f0;">Cerrar</button>
    </div>
  </div>
  {% endfor %}
</div>

