{% load static %}
<div class="modal-dialog modal-lg " role="document">
  <div class="modal-content">
    <div class="modal-header">
      <div class="card border-primary" style="width: 100%;">
        <form id="informe" method="POST"
          action="{% url 'usuario:editar_tesis_aprobacion' object.maestrante.id_maestrante %}"
          enctype="multipart/form-data">
          {% csrf_token %}
          <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="col col-lg-3">
                  <img src="{% static 'lib/img/logousb.png' %}" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col">
                  <h5 class="card-title text-center">
                    ADMINISTRAR ARCHIVOS DE TESIS
                  </h5>
                </div>
              </div>
            </div>
            <hr>
            <div class="container">
              <div class="row row-cols-1">
                <div class="col">MAESTRANTE: {{object.maestrante}} </div>

                <div class="card">
                  <div class="card-body">
                    <p class="colores-formulario">Tesis habilitada a defensa</p>
                    <p>{{ form.tesis_mejorado_aprobacion }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="colores-botoncerrar" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="colores-botonaceptar">Confirmar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% block extrajs %}
  <script src="{% static 'lib/js/informe.js' %}"></script>
  {% endblock extrajs %}