{% extends "postgradoApp/base.html" %}
{% load static %}
{% block content %}
<div class="sb-nav-link-icon">
    <h5>
        INFORMACIÓN GENERAL DEL USUARIO</h5>
</div>
<div class="modal-footer">
    <button onclick="abrir_modal_edicion('{% url 'usuario:editar_maestrante_complemento' user.id %}')"
    class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar datos">Agregar
    información adicional </button><br>
  </div>
<hr />
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="table-responsive">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th colspan="2" >
                        <div class="alert alert-primary" role="alert">
                          INFORMACIÓN PERSONAL
                          </div>
                       
                    </th>


                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>CI:</td>
                    <td colspan="2">{{user.ci_usuario}}</td>
                </tr>
                <tr>
                    <td>NOMBRE:</td>
                    <td>{{user}}</td>

                </tr>



                <tr>

                    <td>R.U.:</td>
                    <td colspan="2">
                        {% if user.ru %}

                        {{user.ru}}
                        {% else %}
                        Sin información
                        {% endif %}



                    </td>
                </tr>

                <tr>
                    <td>NÚMERO DE CELULAR:</td>
                    <td>
                        {% if user.cel_usuario %}
                        {{user.cel_usuario}}
                        {% else %}
                        Sin información

                        {% endif %}

                    </td>
                </tr>
                <tr>
                    <td>NÚMERO DE CELULAR REFERENCIA:</td>
                    <td>
                        {% if user.cel_usuario2 %}
                        {{user.cel_usuario2}}
                        {% else %}
                        Sin información

                        {% endif %}


                    </td>
                </tr>
                <tr>
                    <td>CORREO INSTITUCIONAL:</td>
                    <td>{{user.correo_inst}}</td>
                </tr>
                <tr>
                    <td>CORREO PERSONAL:</td>
                    <td>

                        {% if user.correo %}
                        {{user.correo}}
                        {% else %}
                        Sin información

                        {% endif %}
                    </td>
                </tr>



                {% if user.rol_maestrante %}
                <tr><th colspan="2">

                    <div class="alert alert-primary" role="alert">
                        INFORMACIÓN MAESTRÍA
                      </div>
                    </th>
                </tr>
                {% for programa in programas %}



                <tr>
              
                    <th >PROGRAMA:</th>
                    <td>{{programa.programa}}</td>
                </tr>
                <tr>
                    <td>VERSIÓN DEL PROGRAMA:</td>
                    <td>{{programa.version}}</td>
                </tr>
                <tr>
                    <td>GESTIÓN:</td>
                    <td>{{programa.gestion}}</td>
                </tr>
                {% endfor %}
                {% endif %}

  
    {% if user.rol_docente %}
                 <tr>
                    <th colspan="2">
                        <div class="alert alert-primary" role="alert">
                            INFORMACIÓN DOCENTE
                          </div></th>
                </tr>
                <tr>
                    <td>ESPECIALIDAD DOCENTE:</td>
                    <td>{{user.docente.especialidad_docente}}</td>
                </tr>
 
    {% endif %}

</tbody>
</table>
</div>

</div>



{% endblock %}