{% extends "postgradoApp/base.html" %}
{% load static %}
{% block content %}
{% if user.tipo_usuario == 3 or user.tipo_usuario == 4 or user.is_superuser %}

<div class="sb-nav-link-icon">
    <h5><i class="far fa-id-card"></i> LISTA DEL PLANTEL ADMINISTRATIVO</h5>
</div>
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="table-responsive">
        <table id="data" class="table table-striped table-responsive">
            <thead>
                <tr>

                    <th class="header" scope="col">CI</th>
                    <th class="header" scope="col">NOMBRE</th>
                    <th class="header" scope="col">CARGO</th>
                    <th class="header" scope="col">CORREO INSTITUCIONAL</th>
                    <th class="header" scope="col">FECHA DE INCORPORACIÓN</th>
                    
                    <th>
                       #
                      </th>
                </tr>
            </thead>
            <tbody id="tableBody_users">
                {% for usuario in actividades %}

                <tr>



                    <td>{{ usuario.ci_usuario }}</td>
                    <td>{{ usuario }}</td>  
                    <td>
                        
                        {% if usuario.rol_tecnico_investigacion %}
                            [ Técnico / Coordinación ]
                        {% endif %}
                           
                    {% if usuario.rol_postgrado %}
                        [ Postgrado ]
                    {% endif %}             
                    </td>  
  
                    <td>{{ usuario.correo_inst }}</td>
                    <td>{{ usuario.fecha_registro }}</td>
                    <td><button
                        onclick="abrir_modal_editar_usuario('{% url 'usuario:editar_administrador' usuario.id %}')"
                        class="btn btn-primary"><i class="fa-solid fa-pen"></i></button>

                </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="edicion" role="dialog">
</div>
<div class="modal fade" id="eliminar" role="dialog">
</div>
{% endif %}
{% block extrajs %}

<script src="{% static 'lib/js/data.js' %}"></script>
<script type="text/javascript">
    var $ = jQuery.noConflict();
    function abrir_modal_editar_usuario(url) {
        $('#edicion').load(url, function () {
            $(this).modal('show');
        });
    }
    function abrir_modal_eliminar_usuario(url) {
        $('#eliminar').load(url, function () {
            $(this).modal('show');
        });
    }


</script>


{% endblock extrajs %}

{% endblock %}