{% load static %}
<div class="modal-dialog modal-xl " role="document">
    <div class="modal-content">
        <div class="modal-header">
            <div class="card border-primary" style="width: 100%;">
                <div class="card-body ">
                    <div class="container">
                        <div class="row">
                            <div class="sb-nav-link-icon">

                                <h5>HISTORIAL DEL PRIMER FORMULARIO DE AVANCE PARA INFORME DE DOCENTE GUÍA (R-0859)</h5>
                                <hr />
                            </div>
                    
                        <br>

                            <div class="table-responsive">
                                <table name="f1" id="data" class="table table-striped table-responsive">
                                  
                    
                                    <thead>
                                        <tr>
                                            {% if user.tipo_usuario == 3 or user.tipo_usuario == 5 %}
                                            <th class="header" scope="col">CI</th>
                                            <th class="header" scope="col">R.U.</th>
                                            {% endif %}                        
                    
                                            <th class="header" scope="col">MAESTRANTE</th>
                                            <th class="header" scope="col">DOCENTE GUÍA QUE REGISTRÓ EL INFORME</th>
                                            <th class="header" scope="col">FECHA PRESENTADA</th>
                                            <th class="header" scope="col">FECHA PROGRAMADA</th>
                                            <th class="header" scope="col">#</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tableBody_users">
                                        {% for avance in avance_historial %}
                    
                                        <tr>
                                            {% if user.tipo_usuario == 3 or user.tipo_usuario == 5 %}
                                            <td>                            
                                                {% if avance.user.usuario.ci_usuario %}
                                                {{ avance.user.usuario.ci_usuario}}
                                                {% else %}
                                                No asignado
                                                {% endif %} 
                                            </td>
                                            <td>                           
                                                {% if avance.user.usuario.ru %}
                                                {{ avance.user.usuario.ru}}
                                                {% else %}
                                                No asignado
                                                {% endif %}  
                                            </td>
                    
                                            {% endif %} 
                                            <td>{{ avance.user }}</td>
                                            <td>{{ avance.docete_guia }}</td>                        
                                            <td>{{ avance.fecha_registro }}</td>
                                            <td>{{ avance.fecha_programada }}</td>
                                            <td>
                                                {% if not avance.aceptar_avance and user.tipo_usuario == 2 %}
                                                {% if avance.user.avance_tesis >= 8 %}
                                                <button type="button"
                                                    onclick="abrir_modal_editar_usuario('{% url 'usuario:registro_avance' avance.id_avance %}')"
                                                    class="btn btn-primary "><i class=" fas fa-file-signature"></i></button>
                                                    {% else %}
                                                Formulario no programado
                                                {% endif %}
                                                
                                                {% elif avance.aceptar_avance %}
                                                <div class="colores-primario-msg">
                                                    <button type="button"
                                                        onclick="abrir_modal_eliminar_usuario('{% url 'usuario:detalle_avance_historial' avance.id_avance %}')"
                                                        class="btn btn-primary "><i class=" fas fa-file-alt"></i></button>
                                                    Ver avance
                                                </div>
                                                {% endif %}
                                               
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                       
                        </div>
                    </div> 
                </div>     
                <div class="modal-footer">            
          
                    <button type="button" class="colores-botoncerrar" data-bs-dismiss="modal">Cerrar</button>
                   
                  </div> 
            </div>

        </div>
    </div>

</div>
<div class="modal fade" id="edicion" role="dialog">

</div>
<div class="modal fade" id="eliminar" role="dialog">

</div>

{% block extrajs %}
<script src="{% static 'lib/js/check.js' %}"></script>
<script src="{% static 'lib/js/fecha.js' %}"></script>
<script src="{% static 'lib/js/data.js' %}"></script>
<script type="text/javascript">
    var $ = jQuery.noConflict();
    function abrir_modal_editar_usuario(url) {
        $('#edicion').load(url, function () {
            $(this).modal('show');
        });
    }
    function abrir_modal_eliminar_usuario(url) {
        $('#eliminar').load(url, function () {
            $(this).modal('show');
        });
    }


</script>


{% endblock extrajs %}