{% extends "postgradoApp/base.html" %}
{% load static %}
{% block content %}
<div class="sb-nav-link-icon">
    <h5>LISTA DE MAESTRANTES EN SISTEMA</h5>
</div>
<hr />

<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="table-responsive">


        <table id="data" class="table table-striped">
            <thead>
                <tr>
                    <th class="header" scope="col">CI</th>
                    <th class="header" scope="col">R.U.</th>
                    <th class="header" scope="col">NOMBRE</th>
                    <th class="header" scope="col">PROGRAMA</th>
                    <th class="header" scope="col">VERSIÓN DEL PROGRAMA</th>

                    <th class="header" scope="col">GESTIÓN</th>
                    <th class="header" scope="col">TIPO MAESTRANTE</th>
     
                    <th class="header" scope="col">FECHA DE DERIVACIÓN</th>
                    <th class="header" scope="col">FECHA DE REGISTRO</th>
                    <th>
                        #
                    </th>                    
                    <th>
                        ESTADO DEL AVANCE DE TESIS (código de la actividad)
                    </th>
                    <th class="header" scope="col">DICTAMEN DEL ACTO DE SUSTENTACIÓN DEL TEMA DE TESIS (Perfil)</th>
                    <th class="header" scope="col">DICTAMEN DEL ACTO DE DEFENSA DE TESIS</th>
                    <th class="header" scope="col">MODIFICAR DICTAMEN DE DEFENSA DE PERFIL Y DEFENSA DE TESIS </th>
                </tr>
            </thead>
            <tbody id="tableBody_users">
                {% for usuario in actividades %}
                <tr>
                    <td>{{ usuario.usuario.ci_usuario }}</td>

                    <td>
                        
                        {% if usuario.usuario.ru  %}
                        {{ usuario.usuario.ru }}
                        {% endif %}
                            
                        
                       </td>
                    <td>{{ usuario.usuario }}</td>

                    <td>{{ usuario.programa }}</td>
                    <td>{{ usuario.version }} </td>
                    <td>{{ usuario.gestion }}</td>
                    <td>

                        {% if usuario.tipo_maestrante == "1" %}
                        Programa regular
                        {% elif usuario.tipo_maestrante == "2" %}
                        Programa antiguo

                        {% endif %}
                    </td>
                 

                    <td>
                        {% if usuario.fecha_derivacion %}
                        {{ usuario.fecha_derivacion }}
                        {% else %}
                        Maestrante no derivado
                        {% endif %}

                    </td>
                    <td>{{ usuario.usuario.fecha_registro }}</td>
                    <td>
                        <button
                            onclick="abrir_modal_edicion('{% url 'usuario:editar_maestrante' usuario.id_maestrante %}')"
                            class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="Editar datos"><i class="fas fa-user-edit"></i></button>
                    </td>
                    <td>

                        
                        {% if usuario.avance_tesis == 1000 %}
                        Tesis concluido

                        {% elif usuario.avance_tesis >= 0 %}
                           {{ usuario.avance_tesis }} 
                        {% endif %}
                            

                        
                    </td>
                    <td>
                        {% if usuario.procedencia_tema == True %}
                        <p class="text-primary">Procedente</p>
                        
                        
                        {% elif usuario.procedencia_tema == False %}
                        
                        <p class="text-danger">Improcedente</p>
                        {% endif %}
                    </td>
                    <td>
                        {% if usuario.procedencia_tesis == True %}
                        <div style="color: rgb(74, 105, 231);">
                            Procedente
                        </div>                        
                        {% elif usuario.procedencia_tesis == False %}
                        <div style="color: rgb(231, 95, 74);">
                            Improcedente
                          </div>                          
                        {% endif %}
                    </td>
                    <td>
                        <button
                            onclick="abrir_modal_ver('{% url 'usuario:editar_maestrante_dictamen' usuario.id_maestrante %}')"
                            class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="Editar datos"><i class="fas fa-user-edit"></i></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% block extrajs %}
<script src="{% static 'lib/js/data.js' %}"></script>

{% endblock extrajs %}

{% endblock %}