{% extends "postgradoApp/base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="sb-nav-link-icon">
        <h5>AJUSTE DE ACTIVIDADES Y REQUISITOS </h5>
    </div>
    <hr />
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="table-responsive">
            <table id="data" class="table table-striped">
                <thead>
                    <tr>
                        <th class="header" scope="col">#</th>
                        <th class="header" scope="col">Código de actividad</th>
                        <th class="header" scope="col">Actividad</th>
                        <th class="header" scope="col">Evidencia</th>
                        <th class="header" scope="col">Tiempo/Días</th>
                        <th class="header" scope="col">Formato de días</th>
                        <th class="header" scope="col">Técnico  de Postgrado / Coordinación de investigación</th>
                        
                        <th class="header" scope="col">Coordinación de Postgrado</th>
                    
                    </tr>
                </thead>
                <tbody id="tableBody_users">
                    {% for usuario in actividades %}
                    <tr>
                        <td><button onclick="abrir_modal_edicion('{% url 'usuario:editar_evidencia' usuario.id_requisito %}')"
                            class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="Editar datos"><i class="fas fa-user-edit"></i></button></td>
                        <td>{{ usuario.nro_requisito }}</td>
                        <td>{{ usuario.actividad }}</td>
                        <td>{{ usuario.requisito }}</td>
                        <td>
                        
                        {% if usuario.nro_requisito == 1 or usuario.nro_requisito == 3 or usuario.nro_requisito == 6 or usuario.nro_requisito == 13 or usuario.nro_requisito == 14 or usuario.nro_requisito == 15 or usuario.nro_requisito == 16 or usuario.nro_requisito == 20 or usuario.nro_requisito == 11 or usuario.nro_requisito == 111 or usuario.nro_requisito == 112 or usuario.nro_requisito == 113 %}
                              {{ usuario.tiempo }}
                        
                        {% else %}
                              
                              <p class="text-secondary">No se requiere asignar dias a esta actividad</p>
                        {% endif %}
                            
                        
                          
                        
                        </td>
                        <td>
                            
                            {% if usuario.nro_requisito == 1 or usuario.nro_requisito == 3 or usuario.nro_requisito == 6 or usuario.nro_requisito == 13 or usuario.nro_requisito == 14 or usuario.nro_requisito == 15 or usuario.nro_requisito == 16 or usuario.nro_requisito == 20 %}
                            <p class="text-primary">Días hábiles</p>    
                            {% endif %}
                            {% if usuario.nro_requisito == 11 or usuario.nro_requisito == 111 or usuario.nro_requisito == 112 or usuario.nro_requisito == 113  %}
                            <p class="text-success">Días calendario</p>
                        {% endif %}
                        </td>
                        <td>
                            
                            {% if usuario.rol1 %}
                                Asignado
                            {% endif %}
                                
                            
                            
                        
                        </td>

                        <td>                            
                            {% if usuario.rol3 %}
                            Asignado
                        {% endif %}</td>
               
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>



<div class="modal fade" id="edicion" role="dialog">

</div>
<div class="modal fade" id="eliminar" role="dialog">

</div>



{% endblock %}