{% extends "postgradoApp/base.html" %}
{% load static %}
{% block content %}

<div class="sb-nav-link-icon">
    <h5>HISTORIAL DE SUSTENTACIÓN DE PERFIL DE TESIS DE MAESTRANTES</h5>
</div>
<hr />

    <div class="table-responsive">
        <table id="data" class="table table-striped">
            <thead>
                <tr>
                    <th class="header" scope="col">CI</th>
                    <th class="header" scope="col">R.U.</th>
                    <th class="header" scope="col">MAESTRANTE</th>
                    <th class="header" scope="col">PROGRAMA</th>
                    <th class="header" scope="col">VERSIÓN DEL PROGRAMA</th>
                    <th class="header" scope="col">TEMA DE PERFIL</th>
                    <th class="header" scope="col">FECHA SUSTENTACIÓN</th>                  
                    <th class="header" scope="col">FECHA RECEPCIÓN DOCUMENTOS ADJUNTOS</th>                  
                    <th class="header" scope="col">DOCENTE PROVISIONAL</th>
                    <th class="header" scope="col">TRIBUNAL 1</th>
                    <th class="header" scope="col">TRIBUNAL 2</th>
                    
                    <th class="header" scope="col">TEMA DE PERFIL DE TESIS</th>
                    <th class="header" scope="col">RESULTADO</th>
                    <th class="header" scope="col">INSTANCIA SUSTENTACIÓN</th>
                    <th class="header" scope="col">Acta de sustentación de Tesis</th>
                    <th class="header" scope="col">Hoja de evaluación</th>
                    <th class="header" scope="col">Nombramiento docente guía</th>
                    <th class="header" scope="col">Otros documentos de respaldo (perfil,otros)</th>
                    <th class="header" scope="col">Designación de tribunal</th>
                    <th class="header" scope="col">#</th>
                    
                </tr>
            </thead>
            <tbody id="tableBody_users">
                {% for usuario in actividades %}
                <tr>
                   
                     <td>                            
                        {% if usuario.user.usuario.ci_usuario %}
                        {{ usuario.user.usuario.ci_usuario}}
                        {% else %}
                        No asignado
                        {% endif %} 
                    </td>                   
                    <td>                           
                        {% if usuario.user.usuario.ru %}
                        {{ usuario.user.usuario.ru}}
                        {% else %}
                        No asignado
                        {% endif %}  
                    </td>

                    <td>{{ usuario.user }}</td>
                    <td>{{ usuario.user.programa }}</td>
                    <td>{{ usuario.user.version }}</td>
                    <td>{{ usuario.user.tema_tesis_perfil }}</td>
                    <td>{{ usuario.fecha_sustentacion }}</td>                   
                    <td>{{ usuario.fecha_recibido_documentos }}</td> 
                    <td>{{ usuario.docente_guia }}</td>
                    <td>{{ usuario.tribunal_perfil_1 }}</td>
                    <td>{{ usuario.tribunal_perfil_2 }}</td>
                    <td>{{ usuario.tema_perfil }}</td>
                    <td>
                        {% if usuario.resultado %}
                        <div class="alert alert-success d-flex align-items-center" role="alert">
                            <svg class="bi flex-shrink-0 me-2" width="2" height="5" role="img" aria-label="Info:">
                                <use xlink:href="#info-fill" />
                            </svg>
                            <div>
                                PROCEDENTE
                            </div>
                        </div>

                        {% else %}
                        <div class="alert alert-warning  d-flex align-items-center" role="alert">
                            <svg class="bi flex-shrink-0 me-2" width="2" height="5" role="img" aria-label="Success:">
                                <use xlink:href="#check-circle-fill" />
                            </svg>
                            <div>
                                IMPROCEDENTE
                            </div>
                        </div>

                        {% endif %}

                    </td>
                    <td>

                        {% if usuario.instancia == 1 %}
                        1º instancia
                        {% elif usuario.instancia == 2 %}
                        2º instancia
                        {% elif usuario.instancia == 3 %}
                        3º instancia
                        {% endif %}


                    </td>
                    <td>
                        {% if usuario.acta %}
                        <a href="{{ usuario.acta.url }}" class="btn btn-outline-success" target="_blank">Ver
                            documento</a>
                        <a href="{{ usuario.acta.url }}" download class="btn btn-outline-success">Descargar</a>
                        {% else %}
                        sin documento
                        {% endif %}
                    </td>
                    <td>
                        {% if usuario.hoja_evaluacion %}
                        <a href="{{ usuario.hoja_evaluacion.url }}" class="btn btn-outline-success" target="_blank">Ver
                            documento</a>
                        <a href="{{ usuario.hoja_evaluacion.url }}" download class="btn btn-outline-success">Descargar</a>
                        {% else %}
                        sin documento
                        {% endif %}
                    </td>
                    <td>
                        {% if usuario.carta_externa %}
                        <a href="{{ usuario.carta_externa.url }}" class="btn btn-outline-success" target="_blank">Ver
                            documento</a>
                        <a href="{{ usuario.carta_externa.url }}" download class="btn btn-outline-success">Descargar</a>
                        {% else %}
                        sin documento
                        {% endif %}
                    </td>      
                    <td>
                        {% if usuario.documento_respaldo %}
                        <a href="{{ usuario.documento_respaldo.url }}" class="btn btn-outline-success" target="_blank">Ver
                            documento</a>
                        <a href="{{ usuario.documento_respaldo.url }}" download class="btn btn-outline-success">Descargar</a>
                        {% else %}
                        sin documento
                        {% endif %}
                    </td>      
                    <td>
                        {% if usuario.carta_externa_designacion %}
                        <a href="{{ usuario.carta_externa_designacion.url }}" class="btn btn-outline-success" target="_blank">Ver
                            documento</a>
                        <a href="{{ usuario.carta_externa_designacion.url }}" download class="btn btn-outline-success">Descargar</a>
                        {% else %}
                        sin documento
                        {% endif %}
                    </td>   
                    <td>                                
                        <button type="button"
                        onclick="abrir_modal_ver('{% url 'usuario:editar_archivos_perfil' usuario.id_sustentacion %}')"
                        class="btn btn-primary "><i class=" fas fa-file-alt"></i></button></td>               
                </tr>
                
                {% endfor %}
            </tbody>
        </table>
    </div>


    {% block extrajs %}
    <script src="{% static 'lib/js/data.js' %}"></script>
    
    {% endblock extrajs %}

{% endblock %}