{% extends "postgradoApp/base.html" %}
{% load static %}
{% block content %}
<div class="sb-nav-link-icon">
    <h5><i class="far fa-id-card"></i>LISTA DE PROGRAMAS DE MAESTRIA</h5>
</div>
<hr />
<h5 class="card-title"><a href="{% url 'usuario:registrar_programa'%}" class="btn btn-primary"><i
    class="fas fa-user-plus"></i> Agregar nuevo programa</a></h5>
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="table-responsive">
        <table id="data" class="table table-striped">
            <thead>
                <tr>
                   
                    <th class="header" scope="col">PROGRAMA</th>
                    
                    <th class="header" scope="col">#</th>
                  
                </tr>
            </thead>
            <tbody id="tableBody_users">
                {% for usuario in actividades %}
                <tr>
                 

                    <td>{{ usuario.nombre_programa }}</td>
                    <td>
                        <button onclick="abrir_modal_edicion('{% url 'usuario:editar_programa' usuario.id_programa %}')"
                        class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Editar datos"><i class="fas fa-user-edit"></i></button>

                    </td>
                  
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% block extrajs %}

<script src="{% static 'lib/js/data.js' %}"></script>
<script src="{% static 'lib/js/main.js' %}"></script>
  
{% endblock extrajs %}

{% endblock %}




