{% extends "postgradoApp/base.html" %}
{% load static %}
{% block content %}
<div class="sb-nav-link-icon">
    <h5>LISTA DE DOCENTES</h5>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="table-responsive">
            <table id="data" class="table table-striped">
                <thead>
                    <tr>
                        {% if user.tipo_usuario == 3 or user.tipo_usuario == 5%}
                        <th class="header" scope="col">CI</th>
                        <th class="header" scope="col">TIPO DE DOCENTE</th>
                        {% endif %}
                        <th class="header" scope="col">NOMBRE</th>
                        
                        <th class="header" scope="col">ESPECIALIDAD</th>
                        {% if user.tipo_usuario == 3 or user.tipo_usuario == 5%}


                        <th class="header" scope="col">Nº&nbsp;DE&nbsp;CELULAR</th>

                        {% if user.tipo_usuario == 3 %}
                        <th class="header" scope="col">ESTADO</th>
                        <th class="header" scope="col">ACTIVAR NÚMERO DE DOCENTE EN FORMULARIOS</th>
                        <th class="header" scope="col">DESACTIVAR NÚMERO DE DOCENTE EN FORMULARIOS</th>
                        {% endif %}


                        <th class="header" scope="col">CORREO&nbsp;INSTITUCIONAL</th>

                        <th class="header" scope="col">FECHA&nbsp;DE&nbsp;REGISTRO</th>
                        {% if user.tipo_usuario == 3 or user.tipo_usuario == 5%}
                        <th>
                            #
                        </th>
                        {% endif %}
                        {% endif %}
                    </tr>
                </thead>
                <tbody id="tableBody_users">
                    {% for usuario in actividades %}
                    <tr>


                        {% if user.tipo_usuario == 3 or user.tipo_usuario == 5%}
                        <td>{{ usuario.user.ci_usuario }}</td>
                        <td>
                            
                            {% if usuario.docente_interno %}
                                Docente interno
                            {% endif %}

                            {% if usuario.docente_externo %}
                            Docente externo
                            {% endif %}
                            
               



                        </td>


                        {% endif %}
                        <td>{{ usuario.user }}</td>

                        <td>{{ usuario.user.docente.especialidad_docente }}</td>
                        {% if user.tipo_usuario == 3 or user.tipo_usuario == 5%}


                        <td>{{ usuario.user.cel_usuario }}</td>

                        {% if user.tipo_usuario == 3 %}
                        <td>

                            {% if usuario.mostrar_numero %}
                            Número de celular visible en formularios
                            {% else %}
                            Número de celular no visible en formularios
                            {% endif %}


                        </td>
                        <td>
                            {% if not usuario.mostrar_numero %}
                           
                                    <a href="#" onclick="habilitarnumero({{ usuario.id_docente }})"
                                    class="btn btn-outline-primary"><i class=" fas fa-phone" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="Esta acción habilitará numero del docente"></i></a>
    
                            {% endif %}
                        </td>
                            <td>

                                {% if  usuario.mostrar_numero %}
                             <a href="#" onclick="deshabilitarnumero({{ usuario.id_docente }})"
                                class="btn btn-outline-danger"><i class="fas fa-phone-slash" data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="Esta acción deshabilitará numero del docente"></i></a>
                            {% endif %}

                        </td>
                        {% endif %}


                        <td>{{ usuario.user.correo_inst }}</td>

                        <td>{{ usuario.user.fecha_registro }}</td>
                        {% endif %}
                        <td>
                            {% if user.tipo_usuario == 3 or user.tipo_usuario == 5%}

                            <button
                                onclick="abrir_modal_edicion('{% url 'usuario:editar_docente' usuario.id_docente %}')"
                                class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Editar datos"><i class="fas fa-user-edit"></i>
                            </button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% block extrajs %}

<script src="{% static 'lib/js/data.js' %}"></script>
<script src="{% static 'lib/js/main.js' %}"></script>

{% endblock extrajs %}
{% endblock %}