{% extends "postgradoApp/base.html" %}
{% load static %}
{% block content %}
<div class="sb-nav-link-icon">
    <h5>LISTA DE MAESTRANTES TESIS CONCLUIDO</h5>
</div>
<hr />

<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">


    <div class="table-responsive">
       
        <table id="data" class="table table-striped">
            <thead>
                <tr>
                    <th class="header" scope="col">CI</th>
                    <th class="header" scope="col">R.U.</th>
                    
                    <th class="header" scope="col">MAESTRANTE</th>
                    
                  
                    
                   
                    <th class="header" scope="col">PROGRAMA</th>
                    <th class="header" scope="col">VERSIÓN DEL PROGRAMA</th>
                    <th class="header" scope="col">GESTIÓN</th>
                    <th class="header" scope="col">VER INFORMACIÓN COMPLEMENTARIA</th>

                
                </tr>
            </thead>
            <tbody id="tableBody_users">
                {% for usuario in actividades %}
                <tr>
                   
                    <td>{{ usuario.usuario.ci_usuario }}</td>
                    <td>
                        {% if usuario.usuario.ru  %}
                        {{ usuario.usuario.ru }}
                        {% endif %}
                    </td>
                    <td>{{ usuario.usuario }}</td>
                  
                    
                  
                    <td>{{ usuario.programa }}</td>
                    <td>{{ usuario.version }}</td>
                    <td>{{ usuario.gestion }}</td>
                    <td>
                        <button onclick="abrir_modal_edicion('{% url 'usuario:informacion_tesis_terminado' usuario.id_maestrante  %}')"
                        class="btn btn-primary"><i class=" fas fa-user-check"></i></button>
                    </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% block extrajs %}
<script src="{% static 'lib/js/data.js' %}"></script>
<script src="{% static 'lib/js/main.js' %}"></script>

{% endblock extrajs %}

{% endblock %}




