{% extends "postgradoApp/base.html" %}
{% load static %}
{% block content %}
<ul class="nav nav-pills justify-content-end">
    <li class="nav-item">
        <a class="colores-segundario" href="{% url 'usuario:listar_sustentacion_tesis'  %}">Sustentación Tesis</a>
    </li>
    <li class="nav-item">
        <a class="colores-primario ext" href="{% url 'usuario:listar_sustentacion_tesis_historial'  %}">Registro de
            sustentación tesis </a>
    </li>

</ul>
<div class="sb-nav-link-icon">
    <h5><i class="far fa-id-card"></i>LISTA DE SUSTENTACIÓN DE TESIS DE MAESTRANTES</h5>
</div>
<hr />
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="table-responsive">
        <table id="data" class="table table-striped">
            <thead>
                <tr>

                    <th class="header" scope="col">R.U.</th>

                    <th class="header" scope="col">MAESTRANTE</th>
                    <th class="header" scope="col">FECHA&nbsp;SUSTENTACIÓN</th>
                    <th class="header" scope="col">HORA&nbsp;SUSTENTACIÓN</th>
                    <th class="header" scope="col">DOCENTE&nbsp;GUÍA</th>
                    <th class="header" scope="col">TRIBUNAL&nbsp;INTERNO&nbsp;1&nbsp;DESIGNADO&nbsp;(Presidente&nbsp;de&nbsp;tribunal)</th>
                    <th class="header" scope="col">TRIBUNAL&nbsp;INTERNO&nbsp;2&nbsp;DESIGNADO&nbsp;(Docente&nbsp;de&nbsp;area&nbsp;-&nbsp;Revisor)</th>
                    
                  
                </tr>
            </thead>
            <tbody id="tableBody_users">
                {% for usuario in actividades %}
                <tr>
                    <td>{{ usuario.ru }}</td>
                    <td>{{ usuario.maestrante }}</td>
                    <td>{{ usuario.cronograma2.fecha_sustentacion }}</td>
                    <td>{{ usuario.cronograma2.hora_sustentacion }}</td>
                    <td>{{ usuario.guia }}</td>
                    <td>{{ usuario.tribunaltesis.tribunal_tesis_1 }}</td>
                    <td>{{ usuario.tribunaltesis.tribunal_tesis_2 }}</td>
                    
                  

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% block extrajs %}

<script src="{% static 'lib/js/data.js' %}"></script>
<script src="{% static 'lib/js/main.js' %}"></script>

{% endblock extrajs %}

{% endblock %}