{% extends "postgradoApp/base.html" %}
{% load static %}
{% block content %}
<div class="sb-nav-link-icon">
    <h5>FORMULARIO DE INFORME DE DOCENTE REVISOR DE TESIS DE MAESTRÍA (R-0996) </h5>
    <hr />
</div>
{% if user.tipo_usuario == 2 or user.tipo_usuario == 3 or user.tipo_usuario == 5 %}
<ul class="nav nav-pills justify-content-end">
    <li class="nav-item">
      <a class="colores-primario ext" href="{% url 'usuario:listar_informe_revisor_pendiente'  %}">Pendientes</a>
    </li>
    <li class="nav-item">
      <a class="colores-primario ext" href="{% url 'usuario:listar_informe_revisor_realizado'  %}">Realizados </a>
    </li>
    <li class="nav-item">
      <a class="colores-primario ext" href="{% url 'usuario:listar_informe_revisor'  %}">Todos </a>
    </li>
  </ul>
  {% endif %}
<br>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="table-responsive">
            <table name="f1" id="data" class="table table-striped table-responsive">
                <thead>
                    <tr>
                        {% if user.tipo_usuario == 3 or user.tipo_usuario == 5 %}
                        <th class="header" scope="col">CI</th>
                        <th class="header" scope="col">R.U.</th>
                        {% endif %} 
                        <th class="header" scope="col">MAESTRANTE</th>
                        <th class="header" scope="col">PROGRAMA</th>
                        <th class="header" scope="col">VERSIÓN DEL PROGRAMA</th>
                        <th class="header" scope="col">DOCENTE REVISOR</th>
                        <th class="header" scope="col">FECHA LÍMITE DE PRESENTACIÓN</th>
                        <th class="header" scope="col">FECHA PRESENTADA</th>
                        <th class="header" scope="col">#</th>
                    </tr>
                </thead>
                <tbody id="tableBody_users">
                    {% for usuario in actividades %}
                    <tr>
                        {% if user.tipo_usuario == 3 or user.tipo_usuario == 5 %}

                        <td>                            
                            {% if usuario.user.usuario.ci_usuario %}
                            {{ usuario.user.usuario.ci_usuario}}
                            {% else %}
                            No asignado
                            {% endif %} 
                        </td>
                        <td>                           
                            {% if usuario.user.usuario.ru %}
                            {{ usuario.user.usuario.ru}}
                            {% else %}
                            No asignado
                            {% endif %}  
                        </td>
                        {% endif %} 
                        <td>{{ usuario.user }}</td>
                        <td>{{ usuario.user.programa }}</td>
                        <td>{{ usuario.user.version }}</td>
                        <td>{{ usuario.user.revisor }}</td>
                        
                        <td>{{ usuario.user.cronograma2.fecha_formulario_revisor }}</td>
                        <td>
                            
                            {% if usuario.user.informe.fecha_registro %}
                                {{ usuario.user.informe.fecha_registro }}
                                {% else %}
                                Sin fecha
                            {% endif %}
                                
                            
                        
                        </td>
                        <td>
                    
                    {% if usuario.aceptar_revisor %}
                        
                    
                        
                            <div class="colores-primario-msg">
                                <button type="button"
                                    onclick="abrir_modal_ver('{% url 'usuario:detalle_informe_revisor' usuario.user.id_maestrante %}')"
                                    class="btn btn-primary "><i class=" fas fa-file-alt"></i></button>
                                Ver informe
                            </div>

                            {% elif user.tipo_usuario == 2 %}
                           
                            <button type="button"
                                onclick="abrir_modal_editar_usuario('{% url 'usuario:registrar_informe_revisor' usuario.id_informe %}')"
                                class="btn btn-primary "><i class=" fas fa-file-signature"></i></button>
                                {% else %}
                                Informe no emitido
                                {% endif %}
                        </td>

                    </tr>

                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

</div>
</div>
</div>






<div class="modal fade" id="edicion" role="dialog">

</div>
<div class="modal fade" id="eliminar" role="dialog">

</div>

{% block extrajs %}
<script src="{% static 'lib/js/check.js' %}"></script>
<script src="{% static 'lib/js/fecha.js' %}"></script>
<script src="{% static 'lib/js/data.js' %}"></script>
<script type="text/javascript">
    var $ = jQuery.noConflict();
    function abrir_modal_editar_usuario(url) {
        $('#edicion').load(url, function () {
            $(this).modal('show');
        });
    }
    function abrir_modal_ver(url) {
        $('#eliminar').load(url, function () {
            $(this).modal('show');
        });
    }


</script>


{% endblock extrajs %}

{% endblock %}