{% extends "postgradoApp/base.html" %}
{% load static %}
{% block content %}

<div class="row">
    <div class="sb-nav-link-icon">
        <h5>HISTORIAL DE ASISTENCIA A INDUCCIÓN</h5>
    </div>
    <hr />
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="table-responsive">
            <table id="data" class="table table-striped">
                <thead>
                    <tr>
                        <th class="header" scope="col">CI</th>
                        <th class="header" scope="col">R.U.</th>
                        <th class="header" scope="col">Maestrante</th>
                        <th class="header" scope="col">Programa</th>
                        <th class="header" scope="col">Versión del Programa</th>
                        <th class="header" scope="col">Fecha/hora programada</th>
                        <th class="header" scope="col">Fecha/hora realizada</th>
                        <th class="header" scope="col">Observaciones</th>
                        <th class="header" scope="col">Enlace reunión </th>
                        <th class="header" scope="col">Archivo de reunión presencial </th>
                    </tr>
                </thead>
                <tbody id="tableBody_users">
                    {% for usuario in actividades %}
                    <tr>
                        <td>
                            
                            {% if usuario.maestrante.usuario.ci_usuario %}
                            {{ usuario.maestrante.usuario.ci_usuario}}
                            {% else %}
                            No asignado
                            {% endif %}   
                        </td>
                        <td>                            
                            {% if usuario.maestrante.usuario.ru %}
                            {{ usuario.maestrante.usuario.ru}}
                            {% else %}
                            No asignado
                            {% endif %}
                        </td>

                        <td>{{ usuario.maestrante }}</td>
                        <td>{{ usuario.maestrante.programa }}</td>
                        <td>{{ usuario.maestrante.version }}</td>
                        <td>{{ usuario.fecha_asesoramiento }} / {{ usuario.hora_asesoramiento  }} hrs</td>
                
                        <td>{{ usuario.fecha_realizada  }} / {{ usuario.hora_realizada  }} hrs</td>
                      <td>


                        {% if usuario.obs  %}
                        {{ usuario.obs    }}
                        {% else %}
                        Sin observaciones
                        {% endif %}
    

                      </td>
                        <td>{% if usuario.enlace_reunion %}
                            <a href="{{ usuario.enlace_reunion }}"  target="_blank">Enlace de la reunión</a>
                        {% else %}
                            <p>No hay enlace de reunión disponible.</p>
                        {% endif %}</td>
                        <td>
                            {% if usuario.hoja_reunion %}
                            <a href="{{ usuario.hoja_reunion.url }}" class="btn btn-outline-success"
                                target="_blank">Ver documento</a>
                            <a href="{{ usuario.hoja_reunion.url }}" download
                                class="btn btn-outline-success">Descargar</a>
                            {% else %}
                                Sin archivo
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% block extrajs %}
<script src="{% static 'lib/js/data.js' %}"></script>

{% endblock extrajs %}
{% endblock %}
