{% extends "postgradoApp/base.html" %}
{% load static %}
{% block content %}
<div class="card border-light mb-3" style="max-width: 100%;">
    <div class="card-body">
        <ul class="nav nav-pills justify-content-end">
            <li class="nav-item">
                <a class=" colores-primario ext" href="{% url 'usuario:registrar_asistencia'  %}">Registrar asistencia</a>
            </li>
            <li class="nav-item">
                <a class=" colores-primario ext" href="{% url 'usuario:listar_asesoramiento'  %}">Asesoramiento
                    programado</a>
            </li>
            <li class="nav-item">
                <a class=" colores-segundario" href="{% url 'usuario:listar_asistencia'  %}">Historial de
                    asistencia</a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="sb-nav-link-icon">
        <h4><i class="far fa-id-card"></i> HISTORIAL DE ASISTENCIA A INDUCCIÓN</h4>
    </div>
    <hr />
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="table-responsive">
            <table id="data" class="table table-striped">
                <thead>
                    <tr>
                        <th class="header" scope="col">R.U.</th>
                        <th class="header" scope="col">Nombre</th>
                        <th class="header" scope="col">Fecha&nbsp;/&nbsp;hora&nbsp;programada</th>
                        <th class="header" scope="col">Fecha&nbsp;/&nbsp;hora&nbsp;realizada</th>
                        <th class="header" scope="col">Observaciones</th>
                        <th class="header" scope="col">Enlace&nbsp;reunión </th>
                        <th class="header" scope="col">Archivo&nbsp;de&nbsp;reunión&nbsp;presencial </th>
                    </tr>
                </thead>
                <tbody id="tableBody_users">
                    {% for usuario in actividades %}
                    <tr>
                        <td>{{ usuario.maestrante.ru }}</td>
                        <td>{{ usuario.maestrante }}</td>
                        <td>{{ usuario.fecha_asesoramiento }} / {{ usuario.hora_asesoramiento  }} hrs</td>
                
                        <td>{{ usuario.fecha_realizada  }} / {{ usuario.hora_realizada  }} hrs</td>
                      <td>{{ usuario.obs    }}</td>
                        <td>{% if usuario.enlace_reunion %}
                            <a href="{{ usuario.enlace_reunion }}"  target="_blank">Enlace de la reunión</a>
                        {% else %}
                            <p>No hay enlace de reunión disponible.</p>
                        {% endif %}</td>
                        <td>
                            {% if usuario.hoja_reunion %}
                            <a href="{{ usuario.hoja_reunion.url }}" class="btn btn-outline-success"
                                target="_blank">Ver documento</a>
                            <a href="{{ usuario.hoja_reunion.url }}" download
                                class="btn btn-outline-success">Descargar</a>
                            {% else %}
                                Sin archivo
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}