{% extends "postgradoApp/base.html" %}
{% load static %}
{% block content %}
<div class="sb-nav-link-icon">
    <h5><i class="fas fa-calendar-alt"></i> Cronograma de actividades</h5>
</div>
<hr />
Nombre: {{ user.maestrante }} <br>
R.U.: {{ user.maestrante.ru }} <br>
<p  class="text-primary">Cronograma de actividades de Perfil de Tesis</p>
<div class="row">
    <div class="table-responsive">  
    <table class="table table-striped">
        {% for usuario in cronograma %}
        {% if usuario.fecha_induccion %}
        <tr>
            <td>0</td>
            <td colspan="2">Fecha&nbsp;de&nbsp;asesoramiento</td>
            <th scope="row" class="text-primary">{{ usuario.fecha_induccion}} - {{ hora_induccion }} hrs</th>
        </tr>
        {% endif %}
        {% if usuario.fecha_1 and usuario.user.avance_tesis > 0 %}
        <tr>
            <td>1</td>
            <td colspan="2">Formulario&nbsp;de&nbsp;habilitación <br> <p class="text-primary"></p> </td>
            <th scope="row" class="text-primary">{{ usuario.fecha_1}}</th>
        </tr>
        {% endif %}
        {% if usuario.fecha_2 %}
        <tr>
            <td>2</td>
            <td colspan="2">Entrega&nbsp;de&nbsp;perfil</td>
            <th scope="row">{{ usuario.fecha_2}}</th>
        </tr>
        {% endif %}
        {% if usuario.fecha_3 %}
        <tr>
            <td>3</td>
            <td colspan="2">Fecha&nbsp;y&nbsp;hora&nbsp;de&nbsp;acto&nbsp;de&nbsp;sustentación</td>
            <th scope="row">{{ usuario.fecha_3}} - {{ usuario.hora_sustentacion}} hrs</th>
        </tr>
        {% endif %}

        {% if usuario.fecha_4 %}
        <tr>
            <td>4</td>
            <td colspan="2">Entrega&nbsp;de&nbsp;perfil&nbsp;mejorada</td>
            <th scope="row">{{ usuario.fecha_4}}</th>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
</div>
<p  class="text-primary">Cronograma de actividades de Tesis</p>
    
    <div class="table-responsive">  
        <table class="table table-striped">
            {% for usuario in cronograma2 %}
    
            {% if usuario.fecha_avance1  %}
            <tr>
                <td>1</td>
                <td colspan="2">Primer&nbsp;avance</td>
                <th scope="row">{{ usuario.fecha_avance1}}</th>
            </tr>
            {% endif %}
            {% if usuario.fecha_avance2  %}
            <tr>
                <td>2</td>
                <td colspan="2">Segundo&nbsp;avance</td>
                <th scope="row">{{ usuario.fecha_avance2 }}</th>
            </tr>
            {% endif %}
            {% if usuario.fecha_borrador %}
            <tr>
                <td>3</td>
                <td colspan="2">Presentación&nbsp;borrador</td>
                <th scope="row">{{ usuario.fecha_borrador}}</th>
            </tr>
            {% endif %}
            {% if usuario.fecha_borrador_prorroga %}                        
            <tr>
                <td>4</td>
                <td colspan="2">Presentación&nbsp;borrador&nbsp;prorroga</td>
                <th scope="row">{{ usuario.fecha_borrador_prorroga}}</th>
            </tr>
            {% endif %}
            {% if usuario.fecha_formulario_revisor %}
            <tr>
                <td>5</td>
                <td colspan="2">Presentación&nbsp;formulario&nbsp;docente&nbsp;revisor</td>
                <th scope="row">{{ usuario.fecha_formulario_revisor}}</th>
            </tr>
            {% endif %}
            {% if usuario.fecha_formulario_guia %}
            <tr>
                <td>6</td>
                <td colspan="2">Presentación&nbsp;formulario&nbsp;docente&nbsp;guía</td>
                <th scope="row">{{ usuario.fecha_formulario_guia}}</th>
            </tr>
            {% endif %}
            {% if usuario.fecha_reporte_general %}
            <tr>
                <td>7</td>
                <td colspan="2">Presentación&nbsp;reporte&nbsp;general</td>
                <th scope="row">{{ usuario.fecha_reporte_general}}</th>
            </tr>
            {% endif %}
            {% if usuario.fecha_reporte_general2 %}
            <tr>
                <td>8</td>
                <td colspan="2">Reporte&nbsp;general&nbsp;segundo</td>
                <th scope="row">{{ usuario.fecha_reporte_general2}}</th>
            </tr>
            {% endif %}
            {% if usuario.fecha_tesis_habilitada %}
            <tr>
                <td>8</td>
                <td colspan="2">Presentación&nbsp;Tesis&nbsp;habilitada</td>
                <th scope="row">{{ usuario.fecha_tesis_habilitada}}</th>
            </tr>
            {% endif %}
            {% if usuario.fecha_sustentacion %}
            <tr>
                <td>9</td>
                <td colspan="2">Fecha&nbsp;y&nbsp;hora&nbsp;del&nbsp;Acto&nbsp;de&nbsp;sustentación&nbsp;de&nbsp;Tesis</td>
                <th scope="row" class="text-primary">{{ usuario.fecha_sustentacion}} - {{ usuario.hora_sustentacion}} hrs</th>
            </tr>
            {% endif %}
            {% if usuario.fecha_4 %}
            <tr>
                <td>10</td>
                <td colspan="2">Tesis&nbsp;mejorada&nbsp;para&nbsp;empaste</td>
                <th scope="row">{{ usuario.fecha_4}}</th>
            </tr>
            {% endif %}
            {% if usuario.fecha_tesis_mejorada %}
            <tr>
                <td>5</td>
                <td colspan="2">Entrega&nbsp;de&nbsp;Tesis&nbsp;mejorada&nbsp;para&nbsp;empaste</td>
                <th scope="row">{{ usuario.fecha_tesis_mejorada}}</th>
            </tr>
            {% endif %}

            {% endfor %}
        </table>
    </div>


                
    </div>
</div>



{% endblock %}