{% load static %}
<div class="modal-dialog modal-xl " role="document">
  <div class="modal-content">
    <div class="modal-header">
      <div class="card border-primary" style="width: 100%;">

          {% csrf_token %}
          <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="col col-lg-3">
                  <img src="{% static 'lib/img/logousb.png' %}" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col">
                  <h6 class="card-title text-center">
                    CRONOGRAMA DE ACTIVIDADES HASTA PROCEDENCIA DE TEMA



                  </h6>
                </div>
              </div>
            </div>
            <hr>
         
              <div class="row row-cols-1">

                <div class="container">
                 
                  MAESTRANTE: {{object.user}} <br>
                  CI: {{object.user.usuario.ci_usuario}} <br>

                  
                  {% if object.user.usuario.ru %}
                    RU: {{object.user.usuario.ru}} <br>
                  {% endif %}


                  {% if object.user.tipo_maestrante == "1" %}
                  TIPO DE PROGRAMA: Programa regular
                  {% elif object.user.tipo_maestrante == "2" %}
                  TIPO DE PROGRAMA: Programa antiguo
                  {% endif %}
                  <br>
                  PROGRAMA: {{object.user.programa}} <br>
                  VERSIÓN: {{object.user.version}} <br>
                  GESTIÓN: {{object.user.gestion}} <br>
                  <hr>
                  <div class="row">
                    <div class="table-responsive">  
                    <table class="table table-striped">
                        
                        {% if object.fecha_induccion %}
                        <tr>
                            
                            <td colspan="2">Fecha de asesoramiento</td>
                            <th scope="row" >{{ object.fecha_induccion}} - {{ object.hora_induccion }} hrs</th>
                            <td>
                
                            </td>
                        </tr>
                        {% endif %}
                        {% if object.fecha_1 and object.user.avance_tesis > 0 %}
                        <tr>
                          
                            <td colspan="2">Fecha límite de presentación del Formulario de habilitación
                            </td>
                            <th scope="row">{{ object.fecha_1}}</th>
                            <td>
                            {% if object.user.avance_tesis > 1 %}
                            <div class="colores-primario-msg">
                                Actividad realizada
                              </div>     
                              {% else %}
                              Actividad pendiente
                            {% endif %}
                                
                
                            </td>
                        </tr>
                        {% endif %}
                        {% if object.fecha_2 %}
                        <tr>
                           
                            <td colspan="2">Fecha límite de presentación del Perfil de Tesis</td>
                            <th scope="row">{{ object.fecha_2}}</th>
                            <td>
                                {% if object.user.avance_tesis > 3 %}
                                <div class="colores-primario-msg">
                                    Actividad realizada
                                  </div>     
                                  {% else %}
                                  Actividad pendiente
                                {% endif %}
                                    
                    
                                </td> 
                        </tr>
                        {% endif %}
                        {% if object.fecha_3 %}
                        <tr>
                          
                            <td colspan="2">Fecha y hora del Acto de sustentación del Tema de Tesis</td>
                            <th scope="row">{{ object.fecha_3}} - {{ object.hora_sustentacion}} hrs</th>
                            <td>
                                {% if object.user.avance_tesis > 5 %}
                                <div class="colores-primario-msg">
                                    Actividad realizada
                                  </div>     
                                  {% else %}
                                  Actividad pendiente
                                {% endif %}
                                    
                    
                                </td> 
                        </tr>
                        {% endif %}
                
                        {% if object.fecha_4 %}
                        <tr>
                          
                            <td colspan="2">Fecha límite de presentación del Perfil de Tesis mejorado</td>
                            <th scope="row">{{ object.fecha_4}}</th>
                            <td>
                                {% if object.user.avance_tesis > 6 %}
                                <div class="colores-primario-msg">
                                    Actividad realizada
                                  </div>     
                                  {% else %}
                                  Actividad pendiente
                                {% endif %}
                                    
                    
                                </td> 
                        </tr>
                        {% endif %}
                
                
                        
                     
                    </table>
                </div>
                
                                
                    </div>
                </div>
              </div>
       
          </div>

          <div class="modal-footer">


            <button type="button" class="colores-botoncerrar" data-bs-dismiss="modal">Cerrar</button>

          </div>

      </div>
    </div>
  </div>
</div>
