{% extends "postgradoApp/base.html" %}
{% load static %}
{% block content %}
<div class="sb-nav-link-icon">
    <h5><i class="fas fa-key"></i> CAMBIO CONTRASEÑA DE ACCESO DE USUARIO</h5>
</div>
<hr />
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card-body text-primary">

            {% if messages %}

            {% for mesage in messages %}
            <div class="alert alert-warning" role="alert">
                {{mesage}}
            </div>

            {% endfor %}


            {% endif %}
            <form id="informe" method="POST">
                {% csrf_token %}

                <div class="form-group">
                    <label for="exampleInputPassword1">Contraseña actual</label>
                    <input type="password" name="q_Old_Password" class="form-control" id="exampleInputPassword1"
                        placeholder="Contraseña" required>
                </div>

                <br>
                <div class="form-group">
                    <label for="NewPassword">Nueva contraseña</label>
                    <input type="password" name="q_new_Password" class="form-control" id="NewPassword"
                        placeholder="La contraseña debe tener minimo 8 caracteres" required>
                </div>
                <br>

                <div class="form-group">
                    <label for="ConfirmNewPassword">Confirmar nueva contraseña</label>
                    <input type="password" name="q_confirm_new_Password" class="form-control"
                        id="ConfirmNewPassword" placeholder="La contraseña debe tener minimo 8 caracteres"required>
                </div>
                <div class="modal-footer">
                    
                    <button  type="submit" class="colores-botoncerrar" >Confirmar</button>
                    
    
                </div>
            </form>
            </p>
    </div>
</div>


{% block extrajs %}
<script src="{% static 'lib/js/formulario.js' %}"></script>

{% endblock extrajs %}

{% endblock %}

