{% load static %}

<div class="modal-dialog modal-lg " role="document">
    <div class="modal-content">
        <div class="modal-header">

            <div class="card border-primary" style="width: 100%;">
                <div class="modal-footer">
                                <button type="button" class="colores-botoncerrar" data-bs-dismiss="modal">Cerrar</button>
                           </div> 
                    <div class="card-body ">
                        
                        <div class="container">

                            <div class="row">
                                
                                <div class="col col-lg-3">
                                    <img src="{% static 'lib/img/logousb.png' %}" class="img-fluid"  alt="Responsive image">
                                    
                                </div>
                                <div class="col">
                                    <h5 class="card-title text-center">
                                        HISTORIAL DE REGISTROS DE AVANCES
                                        
                                    </h5>
                                </div>

                            </div>
                        </div>
                        <hr>
                        {% for evi in maestrantesevi %}
			
        
      
                        <h6 class="card-text">C.I.: {{ evi.user }}</h6>
                                      
                              {% empty %}
                              <footer class="blockquote-footer">Sin registros</footer>
                              
                              {% endfor %}	
                    

           
            </div>
        </div>
    </div>
</div>
{% block extrajs %}


<script src="{% static 'lib/js/informe.js' %}"></script>


{% endblock extrajs %}


