{% autoescape off %}
Has recibido este correo porque has solicitado restablecer la contraseña de tu cuenta en el Sistema de Seguimiento de Tesis de Maestría (SSTM) 
del Instituto de Investigación y Postgrado 'Padre Juan Pablo Zabala Torrez'.

Por favor, haz clic en el siguiente enlace o cópialo y pégalo en tu navegador para elegir una nueva contraseña:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Si no solicitaste este cambio, por favor ignora este correo.

Saludos cordiales,
Instituto de Investigación y Postgrado 'Padre Juan Pablo Zabala Torrez'.
{% endautoescape %}
