{% extends "postgradoApp/base.html" %}

{% block content %}
<div class="card-body">

   
  <table class="table table-striped">
    <thead>
      <tr>

        <th scope="col">Sala de equipo</th>

        <th scope="col">Opción</th>
      </tr>
    </thead>
    <tbody>
  
      {% for room in rooms %}
      <tr>
        <td><a href="{% url 'room' room.slug %}" class="btn btn-primary">{{ room.name }}</a></td>
        <td></td>
      </tr>
      {% endfor %}
      
  
      {% for room in rooms %}
      {% if user.maestrante.id_maestrante == room.idmaestrante or user.docente.id_docente == room.iddocente  %}
      <tr>
        <td><a href="{% url 'room' room.slug %}" class="btn btn-primary">{{ room.name }}</a></td>
        <td></td>
      </tr>
      {% endif %}
      {% endfor %}

      {% for room in rooms %}
   
      {% if room.idmaestrante == user.ci_usuario %}
      
      <tr>
        <td><a href="{% url 'room' room.slug %}" class="btn btn-primary">{{ room.name }}</a></td>
        <td></td>
      </tr>
      {%  endif %}
      {% endfor %}
     




    </tbody>
  </table>
  </p>
</div>
{% endblock %}