{% extends "postgradoApp/base.html" %}
{% load static %}
{% block content %}
<ul class="nav nav-pills justify-content-end">
  <li class="nav-item">
    <a class="colores-primario ext" href="{% url 'usuario:seguimiento_tesis'  %}">Seguimiento</a>
  </li>

  <li class="nav-item">
    <a class="colores-primario ext" href="{% url 'usuario:listar_historial'  %}">Historial </a>
  </li>
</ul>
<br>
{% if mensaje %}
{{ mensaje }}
{% else %}
<div class="sb-nav-link-icon">
  <h5><i class="far fa-id-card"></i>
    {% for actividades in actividad %}
    {{ actividades.actividad }} <br><br>
    {{ actividades.requisito }}

    {% endfor %}
  </h5>
</div>
<hr />

<div class="table-responsive">
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th class="header" scope="col">CI</th>
        <th class="header" scope="col">R.U.</th>
        <th class="header" scope="col">MAESTRANTE</th>
        <th class="header" scope="col">PROGRAMA</th>
        <th class="header" scope="col">VERSIÓN DEL PROGRAMA</th>
        <th class="header" scope="col">FECHA&nbsp;SUSTENTACIÓN</th>        
        
        <th class="header" scope="col">TRIBUNAL&nbsp;INTERNO&nbsp;1&nbsp;DESIGNADO (Presidente&nbsp;de&nbsp;tribunal)</th>
        <th class="header" scope="col">TRIBUNAL&nbsp;INTERNO&nbsp;2&nbsp;DESIGNADO (Docente&nbsp;de&nbsp;area&nbsp;-&nbsp;Revisor)</th>
        <th class="header" scope="col">INSTANCIA&nbsp;DEFENSA </th>

        

        <th class="header" scope="col">DEFENSA DE TESIS PROCEDENTE</th>
        <th class="header" scope="col">DEFENSA DE TESIS PROCEDENTE</th>


      </tr>
    </thead>
    <tbody id="tableBody_users">
      {% for evi in maestrantesevi %}
      <tr>
        <td>                            
          {% if evi.usuario.ci_usuario %}
          {{ evi.usuario.ci_usuario}}
          {% else %}
          No asignado
          {% endif %} 
      </td>
        <td>                           
          {% if evi.usuario.ru %}
          {{ evi.usuario.ru}}
          {% else %}
          No asignado
          {% endif %}  
      </td>

    <td>{{ evi.usuario }}</td>
    <td>{{ evi.programa }}</td>
    <td>{{ evi.version }}</td>
    <td>{{ evi.cronograma2.fecha_sustentacion }} - {{ evi.cronograma2.hora_sustentacion }} hrs</td>
    <td>{{ evi.tribunaltesis.tribunal_tesis_1 }}</td>
    <td>{{ evi.tribunaltesis.tribunal_tesis_2 }}</td>
    <td>
      {% if evi.instancia_defensa == 1 %}
      1º instancia
      {% elif evi.instancia_defensa == 2 %}
      2º instancia
      {% elif evi.instancia_defensaa == 3 %}
      3º instancia
      {% elif evi.instancia_defensa == 4 %}
      4º instancia
      {% elif evi.instancia_defensa == 5 %}
      5º instancia
      {% elif evi.instancia_defensa == 6 %}
      6º instancia
      {% elif evi.instancia_defensa == 7 %}
      7º instancia
      
      {% endif %}

    </td>
    <td>
      <a href="#" onclick="tesisimprocedente({{ evi.id_maestrante }})" class="btn btn-danger"><i
          class="fas fa-times" data-bs-toggle="tooltip" data-bs-placement="top"
          title="Tesis improcedente"></i></a>
</td>
<td>
  <a href="#" onclick="tesisprocedente({{ evi.id_maestrante }})" class="btn btn-primary"><i class="fas fa-check"
      data-bs-toggle="tooltip" data-bs-placement="top" title="Tema de perfil procedente"></i></a>


</td>










      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endif %}
{% block extrajs %}

<script src="{% static 'lib/js/data.js' %}"></script>
<script src="{% static 'lib/js/main.js' %}"></script>


{% endblock extrajs %}
{% endblock %}