{% extends "postgradoApp/base.html" %}
{% load static %}
{% block content %}
<ul class="nav nav-pills justify-content-end">
  <li class="nav-item">
    <a class="colores-primario ext" href="{% url 'usuario:seguimiento_tesis'  %}">Seguimiento</a>
  </li>

  <li class="nav-item">
    <a class="colores-primario ext" href="{% url 'usuario:listar_historial'  %}">Historial </a>
  </li>
</ul>

<br>
{% if mensaje %}
{{ mensaje }}
{% else %}
<div class="sb-nav-link-icon">
  <h5><i class="far fa-id-card"></i>
    {% for actividades in actividad %}
    {{ actividades.actividad }} <br><br>
    {{ actividades.requisito }}

    {% endfor %}
  </h5>
</div>
<hr />

<div class="table-responsive">
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th class="header" scope="col">CI</th>
        <th class="header" scope="col">R.U.</th>
        <th class="header" scope="col">MAESTRANTE</th>    
        <th class="header" scope="col">PROGRAMA</th>
        <th class="header" scope="col">VERSIÓN DEL PROGRAMA</th>
       
        <th class="header" scope="col">#</th>

      </tr>
    </thead>
    <tbody id="tableBody_users">
      {% for evi in maestrantesevi %}
      <tr>
      <td>                            
          {% if evi.usuario.ci_usuario %}
          {{ evi.usuario.ci_usuario}}
          {% else %}
          No asignado
          {% endif %} 
      </td>
        <td>                           
          {% if evi.usuario.ru %}
          {{ evi.usuario.ru}}
          {% else %}
          No asignado
          {% endif %}  
      </td>
        <td>{{ evi.usuario }}</td>
        <td>{{ evi.programa }}</td>
        <td>{{ evi.version }}</td>
        <td>



            {% if evi.tipo_maestrante == "2" %}
            {% if evi.bloqueo_maestrante  %}
            Programa de maestrante bloqueado
            {% else %}          
            {% if evi.vigencia_matricula_antiguo <   today %}
            Vigencia de matrícula caducada
  
            {% elif evi.vigencia_matricula_antiguo_total <   today %}
            <p class="text-danger">Vigencia de programa caducada</p>
            {% else %}
            <button onclick="abrir_modal_ver('{% url 'usuario:actividad_1'  evi.id_maestrante %}')"
            class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top"
            title=" Registrar requisito / evidencia"><i class=" fas fa-user-check"></i></button>
            {% endif %}
            {% endif %}
            {% endif %}
            {% if evi.tipo_maestrante == "1" %}
  
            
            {% if evi.bloqueo_maestrante  %}
            Programa de maestrante bloqueado
            {% else %}
            {% if evi.vigencia_matricula_regular_total <   today %}
            <p class="text-danger">Vigencia de programa caducada</p>
            {% else %}
            <button onclick="abrir_modal_ver('{% url 'usuario:actividad_1'  evi.id_maestrante %}')"
            class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top"
            title=" Registrar requisito / evidencia"><i class=" fas fa-user-check"></i></button>
            {% endif %}           
            {% endif %} 
            {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endif %}
{% block extrajs %}

<script src="{% static 'lib/js/data.js' %}"></script>
<script src="{% static 'lib/js/main.js' %}"></script>


{% endblock extrajs %}
{% endblock %}