{% extends "postgradoApp/base.html" %}
{% load static %}
{% block content %}
<ul class="nav nav-pills justify-content-end">
  <li class="nav-item">
    <a class="colores-primario ext" href="{% url 'usuario:seguimiento_tesis'  %}">Seguimiento</a>
  </li>

  <li class="nav-item">
    <a class="colores-primario ext" href="{% url 'usuario:listar_historial'  %}">Historial </a>
  </li>
</ul>
<br>
{% if mensaje %}
{{ mensaje }}
{% else %}
<div class="sb-nav-link-icon">
  <h5><i class="far fa-id-card"></i>
    {% for actividades in actividad %}
    {{ actividades.actividad }} <br><br>
    {{ actividades.requisito }}

    {% endfor %}
  </h5>
</div>
<hr />

<div class="table-responsive">
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th class="header" scope="col">R.U.</th>
        <th class="header" scope="col">MAESTRANTE</th>
        <th class="header" scope="col">PROGRAMA</th>
        <th class="header" scope="col">FECHA&nbsp;SUSTENTACIÓN</th>                  
        <th class="header" scope="col">DOCENTE&nbsp;PROVISIONAL</th>
        <th class="header" scope="col">TRIBUNAL&nbsp;1</th>
        <th class="header" scope="col">TRIBUNAL&nbsp;2</th>
        <th class="header" scope="col">INSTANCIA&nbsp;SUSTENTACIÓN </th>
        <th class="header" scope="col">Dictamen&nbsp;del&nbsp;acto&nbsp;de&nbsp;sustentación</th>


      </tr>
    </thead>
    <tbody id="tableBody_users">
      {% for evi in maestrantesevi %}
      <tr>
        <td> {{ evi.ru }} </td>
        <td>{{ evi.maestrante }}</td>
        <td>{{ evi.programa }}</td>
        <td>{{ evi.cronograma.fecha_3 }} - {{ evi.cronograma.hora_sustentacion }} hrs</td>
        
        <td>{{ evi.provisional }}</td>
        <td>{{ evi.tribunalperfil.tribunal_perfil_1 }}</td>
        <td>{{ evi.tribunalperfil.tribunal_perfil_2 }}</td>
        <td>

          {% if evi.instancia == 1 %}
          1º instancia
          {% elif evi.instancia == 2 %}
          2º instancia
          {% elif evi.instancia == 3 %}
          3º instancia
          {% elif evi.instancia == 4 %}
          4º instancia
          {% elif evi.instancia == 5 %}
          5º instancia
          {% elif evi.instancia == 6 %}
          6º instancia
          {% elif evi.instancia == 7 %}
          7º instancia
          
          {% endif %}


      </td>
        <td>
          <a href="#" onclick="improcedenciatema({{ evi.id_maestrante }})" class="btn btn-danger"><i
              class="fas fa-times" data-bs-toggle="tooltip" data-bs-placement="top"
              title="Tema de perfil improcedente"></i></a>

          <a href="#" onclick="procedenciatema({{ evi.id_maestrante }})" class="btn btn-primary"><i class="fas fa-check"
              data-bs-toggle="tooltip" data-bs-placement="top" title="Tema de perfil procedente"></i></a>



        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endif %}
{% block extrajs %}


<script src="{% static 'lib/js/main.js' %}"></script>


{% endblock extrajs %}
{% endblock %}