{% extends "postgradoApp/base.html" %}
{% load static %}
{% block content %}
{% load tz %}
<ul class="nav nav-pills justify-content-end">
  <li class="nav-item">
    <a class="colores-primario ext" href="{% url 'usuario:seguimiento_tesis'  %}">Seguimiento</a>
  </li>

  <li class="nav-item">
    <a class="colores-primario ext" href="{% url 'usuario:listar_historial'  %}">Historial </a>
  </li>
</ul>
<br>
{% if mensaje %}
{{ mensaje }}
{% else %}
<div class="sb-nav-link-icon">

  <h5><i class="far fa-id-card"></i>
    {% for actividades in actividad %}
    {{ actividades.actividad }} <br><br>
    {{ actividades.requisito }}
    
    {% endfor %}
  </h5>
</div>

  
<form id="miFormularioavance" action="{% url 'usuario:actividad_6' %}" method="POST">
  {% csrf_token %}
  <div class="card">
    <div class="card-header">
      Programar fecha para la presentación del primer avance
    </div>
    <div class="card-body">
      <div class="row g-3"> 
        <div class="col-8">
      <input type="date" name="fecha" class="form-control"  required>
    </div>
    <div class="col-3">
      <button type="submit"  class="btn btn-primary mb-3">Aceptar</button>
    </div>
  </div></div></div>
  <!-- <input type="date" value="2024-07-23" min="2023-08-21" max="2023-08-25">-->
  <hr />


  <div class="table-responsive">
    <table id="data" class="table table-striped">
      <thead>
        <tr>
          <th class="header" scope="col"></th>
          <th class="header" scope="col">SELECCIONAR&nbsp;MAESTRANTE</th>
          <th class="header" scope="col">CI</th>
          <th class="header" scope="col">R.U.</th>
          <th class="header" scope="col">PROGRAMA</th>
          <th class="header" scope="col">VERSIÓN DEL PROGRAMA</th>
          <th class="header" scope="col">DOCENTE GUÍA</th>
          <th class="header" scope="col">FECHA LÍMITE DE PRESENTACIÓN DE BORRADOR</th>
          <th class="header" scope="col">PROGRAMAR FECHA PARA PRORROGA</th>
          <th class="header" scope="col">FECHA LÍMITE DE PRESENTACIÓN DE BORRADOR PRORROGA</th>
          

        </tr>
      </thead>
      <tbody id="tableBody_users">
        {% for evi in maestrantesevi %}
        <tr>
          <td>

            {% if evi.tipo_maestrante == "2" %}
            {% if evi.bloqueo_maestrante  %}
            Programa de maestrante bloqueado
            {% else %}          
            {% if evi.vigencia_matricula_antiguo <   today %}
            Vigencia de matrícula caducada
  
            {% elif evi.vigencia_matricula_antiguo_total <   today %}
            <p class="text-danger">Vigencia de programa caducada</p>
            {% else %}
           
            {% if today <= evi.cronograma2.fecha_borrador or evi.cronograma2.fecha_borrador_prorroga %} <input
              type="checkbox" name="checks[]" class="checkbox-element" value="{{ evi.id_maestrante }}">
            {% else %}
            Se requiere habilitar prorroga
              {% endif %}
            {% endif %}
            {% endif %}
            {% endif %}
            {% if evi.tipo_maestrante == "1" %}
  
            
            {% if evi.bloqueo_maestrante  %}
            Programa de maestrante bloqueado
            {% else %}
            {% if evi.vigencia_matricula_regular_total <   today %}
            <p class="text-danger">Vigencia de programa caducada</p>
            {% else %}
            
            {% if today <= evi.cronograma2.fecha_borrador or evi.cronograma2.fecha_borrador_prorroga %} <input
              type="checkbox" name="checks[]" class="checkbox-element" value="{{ evi.id_maestrante }}">
            {% else %}
            Se requiere habilitar prorroga
              {% endif %}

            {% endif %}           
            {% endif %} 
            {% endif %}



          </td>
          <td>{{ evi.usuario }}</td>

        <td>                            
            {% if evi.usuario.ci_usuario %}
            {{ evi.usuario.ci_usuario}}
            {% else %}
            No asignado
            {% endif %} 
        </td>
        <td>                           
          {% if evi.usuario.ru %}
          {{ evi.usuario.ru}}
          {% else %}
          No asignado
          {% endif %}  
      </td>
          <td>{{ evi.programa }}</td>
          <td>{{ evi.version }}</td>
          <td>{{ evi.guia }}</td>
          <td>
      
            {% if today > evi.cronograma2.fecha_borrador %}
            <div class="container" style="color: red;">{{ evi.cronograma2.fecha_borrador }} - Presentación de Borrador
              de tesis caducada
            </div>
            {% else %}
            {{ evi.cronograma2.fecha_borrador }}
            {% endif %}

          </td>

          <td>
            {% if today > evi.cronograma2.fecha_borrador and evi.cronograma2.fecha_borrador_prorroga == None %}


              {% if evi.tipo_maestrante == "2" %}
              {% if evi.bloqueo_maestrante  %}
              Programa de maestrante bloqueado
              {% else %}          
              {% if evi.vigencia_matricula_antiguo <   today %}
              Vigencia de matrícula caducada
    
              {% elif evi.vigencia_matricula_antiguo_total <   today %}
              Vigencia de programa caducada
              {% else %}
              <button onclick="abrir_modal_edicion('{% url 'usuario:registrar_prorroga_borrador' evi.id_maestrante %}')"
              class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar datos"><i
                class="fas fa-calendar-check"></i></button>
              {% endif %}
              {% endif %}
              {% endif %}
              {% if evi.tipo_maestrante == "1" %}
    
              
              {% if evi.bloqueo_maestrante  %}
              Programa de maestrante bloqueado
              {% else %}
              {% if evi.vigencia_matricula_regular_total <   today %}
              Vigencia de programa caducada
              {% else %}
              <button onclick="abrir_modal_edicion('{% url 'usuario:registrar_prorroga_borrador' evi.id_maestrante %}')"
              class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar datos"><i
                class="fas fa-calendar-check"></i></button>
              {% endif %}           
              {% endif %} 
              {% endif %}
    


            {% elif evi.cronograma2.fecha_borrador_prorroga %}
            Prorroga habilitada
            {% endif %}
          </td>
          <td>
            {% if today > evi.cronograma2.fecha_borrador and not evi.cronograma2.fecha_borrador_prorroga %}
            Se requiere asignar fecha para presentación de borrador prorroga
            {% endif %}
            {% if evi.cronograma2.fecha_borrador_prorroga %}

            {% if today > evi.cronograma2.fecha_borrador_prorroga %}
            <div class="container" style="color: red;">{{ evi.cronograma2.fecha_borrador_prorroga }} - Presentación de Borrador prorroga
              de tesis caducada
            </div>


            {% else %}
            <div class="container" style="color:blue;">{{ evi.cronograma2.fecha_borrador_prorroga }} prorroga</div>

            {% endif %}

            {% endif %}
            
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</form>

{% endif %}
{% block extrajs %}

<script>
    function verificarSeleccion() {
    // Obtén todos los elementos de checkbox
    var checkboxes = document.getElementsByClassName('checkbox-element');

    // Itera a través de los checkboxes y verifica si al menos uno está seleccionado
    var alMenosUnoSeleccionado = false;
    for (var i = 0; i < checkboxes.length; i++) {
      if (checkboxes[i].checked) {
        alMenosUnoSeleccionado = true;
        break; // No es necesario seguir iterando si ya se encontró al menos uno seleccionado
      }
    }

    // Realiza la acción deseada si al menos uno está seleccionado
    if (alMenosUnoSeleccionado) {
      console.log('Al menos un checkbox está seleccionado.');
      // Puedes realizar más acciones aquí según tus necesidades
    } else {
      console.log('Ningún checkbox está seleccionado.');
      // Puedes mostrar un mensaje o realizar otras acciones si ninguno está seleccionado
    }
  }
  document.getElementById('miFormularioavance').addEventListener('submit', function(event) {
      event.preventDefault(); // Evitar que el formulario se envíe automáticamente
  
      avanceuno();
  });

  </script>
<script src="{% static 'lib/js/data.js' %}"></script>
<script src="{% static 'lib/js/main.js' %}"></script>


{% endblock extrajs %}
{% endblock %}