{% load static %}
<div class="modal-dialog modal-lg " role="document">
    <div class="modal-content">
        <div class="modal-header">
            <div class="card border-primary" style="width: 100%;">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col col-lg-3">
                                <img src="{% static 'lib/img/logousb.png' %}" class="img-fluid" alt="Responsive image">
                            </div>
                            <div class="col">
                                <h6 class="card-title text-center">
                                    FORMULARIO PARA INFORME DE DOCENTE GUÍA SOBRE AVANCE DE TESIS DE MAESTRIA
                                </h6>
                                <h6 class="card-title text-center">
                                    R-0859 V.0
                                </h6>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="container">
                        <div class="row row-cols-1">
                            <div class="col">ELABORADO POR: {{object.guia}} </div>
                            <div class="col">MAESTRANTE: {{object.user}} </div>
                            <div class="col">PROGRAMA: {{object.programa}} </div>

                            <!-- <div class="col">TEMA DE TESIS: {{object.tema_tesis}} </div> -->
                            <div class="col">FECHA DE REGISTRO: {{ object.avance.fecha_registro }}</div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">CAPÍTULO</th>
                                        <th scope="col">DESCRIPCIÓN VALOR EN PORCENTEJE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>CAPÍTULO I</td>
                                        <td>

                                            {% if object.avance_2.cap1 %}
                                            {{ object.avance_2.cap1 }} %
                                            {% else %}
                                            no asignado
                                            {% endif %}


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>CAPÍTULO II</td>
                                        <td>

                                            {% if object.avance_2.cap2 %}
                                            {{ object.avance_2.cap2 }} %
                                            {% else %}
                                            no asignado
                                            {% endif %}


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>CAPÍTULO III</td>
                                        <td>

                                            {% if object.avance_2.cap3 %}
                                            {{ object.avance_2.cap3 }} %
                                            {% else %}
                                            no asignado
                                            {% endif %}


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>CAPÍTULO IV</td>
                                        <td>

                                            {% if object.avance_2.cap4 %}
                                            {{ object.avance_2.cap4 }} %
                                            {% else %}
                                            no asignado
                                            {% endif %}


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>CAPÍTULO V</td>
                                        <td>

                                            {% if object.avance_2.cap5 %}
                                            {{ object.avance_2.cap5 }} %
                                            {% else %}
                                            no asignado
                                            {% endif %}


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>BIBLIOGRAÍA</td>
                                        <td>

                                            {% if object.avance_2.bibliografia %}
                                            {{ object.avance_2.bibliografia }} %
                                            {% else %}
                                            no asignado
                                            {% endif %}


                                        </td>

                                    </tr>
                                    <tr>
                                        <td>ANEXOS</td>
                                        <td>

                                            {% if object.avance_2.anexos %}
                                            {{ object.avance_2.anexos }} %
                                            {% else %}
                                            no asignado
                                            {% endif %}


                                        </td>

                                    </tr>
                                    <td>RESULTADO</td>
                                    <td>

                                        {% if object.avance_2.aprobacion == 'si' %}
                                        Aprobado
                                        {% elif object.avance_2.aprobacion == 'no' %}
                                        No aprobado
                                        {% endif %}


                                    </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="colores-botoncerrar" data-bs-dismiss="modal">Cerrar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>