{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>SISTEMA POSTGRADO USB</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'lib/css/styles2.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .btn-custom {
            background-color: #044299;
            border-color: #044299;
            color: white;
        }

        .btn-custom:hover {
            background-color: #032b66;
            border-color: #032b66;
            color: white;
        }

        .icon-yellow {
            color: #eccd46;
        }
    </style>
</head>

<body class="align">
    <div class="resolucion">
        <div class="login">
            <header class="login__header">
                <img class="card-img-top" src="{% static 'lib/img/img-fondo3.png' %}" alt="Card image cap">
            </header>

            <form action="" class="login__form" method="POST">
                {% csrf_token %}
                <div>
                    <input class="form-control inp usrnm" type="text" name="username" placeholder="Nombre de Usuario" required>
                </div>

                <div class="input-group mb-3">
                    <input class="form-control inp pswd" id="password" type="password" name="password" placeholder="Contraseña" required>
                    <div class="input-group-append">
                        <button id="togglePassword" type="button" class="btn btn-custom">
                            <i class="fas fa-eye icon-white"></i>
                        </button>
                    </div>
                </div>

                <div>
                    <input class="button" type="submit" value="Iniciar sesión">
                </div>
                <p style="text-align: center;">
                    <a href="{% url 'usuario:password' %}">Olvidé mi contraseña</a>
                    {% if form.errors %}
                    <div class="alert alert-warning" role="alert">
                        <p> Su nombre de usuario o contraseña no coinciden. Inténtalo de nuevo.</p>
                    </div>
                    {% endif %}
                </p>
            </form>
        </div>
    </div>

    <script>
        const passwordInput = document.getElementById('password');
        const togglePasswordButton = document.getElementById('togglePassword');

        togglePasswordButton.addEventListener('click', function () {
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);
            this.querySelector('i').classList.toggle('fa-eye');
            this.querySelector('i').classList.toggle('fa-eye-slash');
        });
    </script>
</body>

</html>
