{% extends "postgradoApp/base.html" %}
{% load static %}
{% block content %}
<div class="row">

    <ul class="nav nav-pills justify-content-end">
        <li class="nav-item">
          <a class="colores-primario ext" href="{% url 'lista_notificacion'  %}">Ver todo</a>
        </li>
        <li class="nav-item">
          <a class="colores-primario ext" href="{% url 'lista_notificacion_no_leido'  %}">No visto </a>
        </li>
        <li class="nav-item">
          <a class="colores-primario ext" href="{% url 'lista_notificacion_leido'  %}">Visto </a>
        </li>
      </ul>

    <div class="sb-nav-link-icon">
        <h5><i class=" fas fa-bell"></i>NOTIFICACIONES</h5>
    </div>
    <hr />
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        {% for notify in actividades %}
   
     
        <a href="{% url 'vernotificacion' notify.slug %}" class="list-group-item list-group-item-action">{{notify.verbo}} 
            <!-- hace {{ notify.timestamp }}-->
            {% if notify.read %}
          <p class="text-primary" style=" float: right;"> <em>Visto</em> - <em>Acceder</em></p>
            {% else %}
        
            <p class="text-warning " style="float: right;"><em>No visto</em> - <em>Acceder</em></p>
            {% endif %}
            
            
        </a>
        {% empty %}
        <footer class="blockquote-footer">Sin registros</footer>
        {% endfor %}
    </div>
</div>

{% endblock %}