{% block contenido %}
<div class="modal-dialog  " role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title">Notificaciónes</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-header">
			<div class="list-group">
				{% if notify %}
				{% for notify in notify %}
				<a href="{% url 'vernotificacion' notify.slug %}"  class="list-group-item list-group-item-action">{{notify.verbo}}

					{% if not notify.read %}
					<i class="  fas fa-eye" style="color: rgb(142, 244, 145);"></i>
					{% else %}

					<i class=" fas fa-eye-slash" style="color: rgb(230, 244, 142);"></i>
					{% endif %}
					fecha de notificación {{ notify.timestamp }}</a>
				{% endfor %}
				{% else %}
				No hay notificaciónes
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}