{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>SISTEMA POSTGRADO USB</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'lib/css/styles2.css' %}" rel="stylesheet">
</head>

<body class="align">
    <div class="login">
        <header class="login__header">
            <img class="card-img-top" src="{% static 'lib/img/img-fondo3.png' %}" alt="Card image cap"><br>
            <hr>
            <h5 style="text-align: center;">Ingresa tu nueva contraseña</h5>
        </header>

        <form class="login__form" method="POST">
            {% csrf_token %}
            Contraseña nueva:
            {{form.new_password1}}
           Contraseña nueva (confirmación)
            {{form.new_password2}}

            {% if form.errors %}
          
            <div class="alert alert-warning" role="alert"><h4>
                <p>     

                    {{ form.non_field_errors }}
           
                    {{ form.old_password.errors }}
                 
                    {{ form.new_password1.errors }}
                 
                    {{ form.new_password2.errors }}
                </p></h4>
              </div>
       
         


            {% endif %}

            <div>
                <input class="button" type="submit" value="Enviar">
            </div>
        </form>


    </div>
    </svg>
</body>

</html>