{% load i18n %}{% autoescape off %}
Ha recibido este correo electrónico porque ha solicitado restablecer la contraseña para su cuenta del SISTEMA DE SEGUIMIENTO DE TESIS TE MAESTRÍA (SSTM) del INSTITUTO DE INVESTIGACIÓN Y POSTGRADO “PADRE JUAN PABLO ZABALA TORREZ”.

Vaya a la siguiente enlace y elija una nueva contraseña:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
Tu nombre de usuario, en caso de que lo hayas olvidado: {{ user.get_username }}





{% endautoescape %}
