{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}

<link rel="stylesheet" href="{% static 'admin/css/forms.css' %}">
{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'index' %}">{% translate 'Home' %}</a>
  &rsaquo; {% translate 'Password reset' %}
</div>
{% endblock %}

{% block content %}

<p>{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new  one.' %}</p>


<form method="post">
  {% csrf_token %}
  {{ form.as_p }} 
  <button type="submit">Enviar</button>
</form>

{% if CamposVacios %}
<div class="alert alert-danger">
    La solicitud de cambio de contraseña ha caducado. Por favor, intenta nuevamente.
</div>
{% endif %}

{% if Nousuario %}
<div class="alert alert-danger">
    No coincide contraseña ni usuario.
</div>
{% endif %}

{% block extrajs %}





{% endblock extrajs %}
{% endblock %}


</html>






{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset' %}
</div>
{% endblock %}
auiauiauiauiau
{% block content %}

<p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>

<p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>

{% endblock %}
