{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>SISTEMA POSTGRADO USB</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="{% static 'lib/css/styles2.css' %}" rel="stylesheet">
</head>

<body class="align">

  <div class="login">

    <header class="login__header">
      <img class="card-img-top" src="{% static 'lib/img/img-fondo3.png' %}" alt="Card image cap"><br>
      <hr>
      <p style="color: black;">
        Ingrese su nombre de usuario y dirección de correo institucional, a continuación le
        enviaremos instrucciones por correo electrónico para configurar una nueva contraseña.
      </p>

    </header>

    <form action="" class="login__form" method="POST">
      {% csrf_token %}

 
      {{ form.username }}
      

      {{ form.correo_inst }}
      {{ form.email }}
      <div>
        <input class="button" type="submit" value="Enviar">
      </div>
      <p style="text-align: center;">
        <a href="{% url 'logout' %}">Ir a inicio</a>

        {% if Nousuario %}
     
        <div class="alert alert-warning" role="alert">
          <p> Su nombre de usuario o correo institucional no coinciden. Inténtalo de nuevo.</p>
        </div>
     
      {% endif %}
      </p>
    </form>


  </div>
 
  
  <script>

      var inputCampo1 = document.getElementById("correo_inst");
      var inputCampo2 = document.getElementById("correo");

      inputCampo1.addEventListener("input", function() {

          inputCampo2.value = inputCampo1.value;
      });
  </script>



  </svg>

</body>



</html>